<section id="banner">
  <div class="bg-color">
    <nav id="navbar" class="navbar navbar-expand-lg navbar-light ">
      <div class="container">
        <a class="navbar-brand" href="#">Restaurant</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto ">
            <a class="nav-item nav-link active" href="index.html">Home</a>
            <a class="nav-item nav-link" routerLink="/event">Events</a>
            <a class="nav-item nav-link" routerLink="/menu">Menu</a>
            <a class="nav-item nav-link" routerLink="/about">About</a>
            <a class="nav-item nav-link" routerLink="/book">Book</a>
            <a href="regisztracio.html" class="nav-item nav-link btn btn-primary text-light ml-lg-2 btn-sm">Regisztráció</a>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="inner text-center">
          <h1 class="logo-name">Restaurant</h1>
          <h2>Lorem ipsum dolor sit amet</h2>
          <p>nibh euismod tincidunt ut laoreet dolore magna aliquam. </p>
        </div>
      </div>
    </div>
  </div>
</section>
